In [148]:
import pandas as pd

In [149]:
results_data_path = '../data/raw_data/results.csv'  # Use your preprocessed data path
df_results = pd.read_csv(results_data_path)

# Display the first few rows
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [150]:
df_results.shape

(26699, 18)

In [151]:
df = df_results.reindex(sorted(df_results.columns), axis=1)

# Display DataFrame info
df.info()

# Check the shape of the DataFrame
print(f"DataFrame shape: {df_results.shape}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26699 entries, 0 to 26698
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   constructorId    26699 non-null  int64
 1   driverId         26699 non-null  int64
 2   fastestLap       26699 non-null  object
 3   fastestLapSpeed  26699 non-null  object
 4   fastestLapTime   26699 non-null  object
 5   grid             26699 non-null  int64
 6   laps             26699 non-null  int64
 7   milliseconds     26699 non-null  object
 8   number           26699 non-null  object
 9   points           26699 non-null  float64
 10  position         26699 non-null  object
 11  positionOrder    26699 non-null  int64
 12  positionText     26699 non-null  object
 13  raceId           26699 non-null  int64
 14  rank             26699 non-null  object
 15  resultId         26699 non-null  int64
 16  statusId         26699 non-null  int64
 17  time             26699 non-null  object
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB
DataFrame shape: (26699, 18)

In [152]:
irrelevant_columns = [
    'position', 'positionText', 'positionOrder', 'fastestLapTime', 'fastestLapTime', 'fastestLapSpeed', 'fastestLap', 'points', 'time', 'laps', 'milliseconds', 'rank', 'statusId'
]

df_other = df[['driverId', 'constructorId', 'raceId', 'statusId', 'points']].copy()

# Drop the columns if they exist in the DataFrame
df_dropped= df_results.drop(columns=[col for col in irrelevant_columns if col in df_results.columns])
df_noDuplicates = df_dropped.drop_duplicates()
df_noDuplicates.shape

(26699, 6)

In [153]:
df_noDuplicates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26699 entries, 0 to 26698
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   resultId       26699 non-null  int64
 1   raceId         26699 non-null  int64
 2   driverId       26699 non-null  int64
 3   constructorId  26699 non-null  int64
 4   number         26699 non-null  object
 5   grid           26699 non-null  int64
dtypes: int64(5), object(1)
memory usage: 1.2+ MB

### Add new features from other tables

### Add Race Info

In [154]:
races_data_path = '../data/raw_data/races.csv' 
df_races = pd.read_csv(races_data_path)

In [155]:
df_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1125 entries, 0 to 1124
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   raceId       1125 non-null   int64
 1   year         1125 non-null   int64
 2   round        1125 non-null   int64
 3   circuitId    1125 non-null   int64
 4   name         1125 non-null   object
 5   date         1125 non-null   object
 6   time         1125 non-null   object
 7   url          1125 non-null   object
 8   fp1_date     1125 non-null   object
 9   fp1_time     1125 non-null   object
 10  fp2_date     1125 non-null   object
 11  fp2_time     1125 non-null   object
 12  fp3_date     1125 non-null   object
 13  fp3_time     1125 non-null   object
 14  quali_date   1125 non-null   object
 15  quali_time   1125 non-null   object
 16  sprint_date  1125 non-null   object
 17  sprint_time  1125 non-null   object
dtypes: int64(4), object(14)
memory usage: 158.3+ KB

In [156]:
df_results_races = pd.merge(df_noDuplicates, df_races[['raceId', 'year','round' ,'circuitId', 'name', 'date', 'time', 'fp1_date', 'fp2_date', 'fp3_date', 'fp1_time', 'fp2_time', 'fp3_time', 'quali_time', 'quali_date']], on=['raceId'], how='left')
df_results_races = df_results_races.rename(columns={'name': 'race_name', 'date': 'race_date', 'time': 'race_time'})
df_results_races.shape

(26699, 20)

### Add Circuit Info

In [157]:
circuits_data_path = '../data/raw_data/circuits.csv' 
df_circuits = pd.read_csv(circuits_data_path)

In [158]:
df_circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     int64
 8   url         77 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 5.5+ KB

In [159]:
df_results_races_circuits = pd.merge(df_results_races, df_circuits[['circuitId', 'location', 'country','lat' ,'lng', 'alt']], on=['circuitId'], how='left')
df_results_races_circuits = df_results_races_circuits.rename(columns={'location': 'race_location', 'country': 'race_country', 'lat': 'race_lat', 'lng': 'race_lng', 'alt': 'race_alt'})
df_results_races_circuits.shape

(26699, 25)

### Grid vs. Position
* Grid is the actual starting position on race day
* position is the position in at the end of qualifying, not including penalties

In [160]:
qualifying_data_path = '../data/raw_data/qualifying.csv' 
df_qualifying = pd.read_csv(qualifying_data_path)

In [161]:
df_qualifying.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10434 entries, 0 to 10433
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      10434 non-null  int64
 1   raceId         10434 non-null  int64
 2   driverId       10434 non-null  int64
 3   constructorId  10434 non-null  int64
 4   number         10434 non-null  int64
 5   position       10434 non-null  int64
 6   q1             10434 non-null  object
 7   q2             10412 non-null  object
 8   q3             10388 non-null  object
dtypes: int64(6), object(3)
memory usage: 733.8+ KB

In [162]:
df_results_races_circuits_qualifying = pd.merge(df_results_races_circuits, df_qualifying[['raceId', 'driverId','q1' ,'q2', 'q3', 'position']], on=['raceId', 'driverId'], how='left')
df_results_races_circuits_qualifying.shape

(26699, 29)

### Adding Driver Info

In [163]:
drivers_data_path = '../data/raw_data/drivers.csv'
df_drivers = pd.read_csv(drivers_data_path)

In [164]:
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     860 non-null    int64
 1   driverRef    860 non-null    object
 2   number       860 non-null    object
 3   code         860 non-null    object
 4   forename     860 non-null    object
 5   surname      860 non-null    object
 6   dob          860 non-null    object
 7   nationality  860 non-null    object
 8   url          860 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.6+ KB

In [165]:
df_results_races_circuits_qualifying_drivers = pd.merge(df_results_races_circuits_qualifying, df_drivers[['driverId', 'dob','nationality', 'code',]], on=['driverId'], how='left')
df_results_races_circuits_qualifying_drivers.rename(columns={'dob': 'driver_dob', 'nationality': 'driver_nationality', 'code': 'driver_code'}, inplace=True)
df_results_races_circuits_qualifying_drivers.shape

(26699, 32)

### Adding PitStop Data

In [166]:
# Define file paths (update these paths as needed)
pitstop_data_path = '../data/raw_data/pit_stops.csv'
results_data_path = '../data/raw_data/results.csv'  # Replace with actual path
races_data_path = '../data/raw_data/races.csv'      # Replace with actual path

# Load pit stop data
df_pitstops = pd.read_csv(pitstop_data_path)

# Load race results data
df_results = pd.read_csv(results_data_path)

# Load races data
df_races = pd.read_csv(races_data_path)

# Merge pit stops with race results to get 'constructorId'
df_pitstops = pd.merge(
    df_pitstops,
    df_results[['raceId', 'driverId', 'constructorId']],
    on=['raceId', 'driverId'],
    how='left'
)

# Merge with races to get 'date', 'circuitId', and 'year'
df_pitstops = pd.merge(
    df_pitstops,
    df_races[['raceId', 'date', 'circuitId', 'year']],
    on='raceId',
    how='left'
)

# Rename 'date' to 'race_date' for clarity
df_pitstops = df_pitstops.rename(columns={'date': 'race_date'})

# Convert 'race_date' to datetime
df_pitstops['race_date'] = pd.to_datetime(df_pitstops['race_date'])

# Sort the DataFrame chronologically within each group to maintain temporal order
df_pitstops = df_pitstops.sort_values(
    ['driverId', 'constructorId', 'circuitId', 'year', 'race_date']
).reset_index(drop=True)

# Define function to calculate historical average pit stop time per group
def calculate_historical_average(df, group_col, new_col):
    df[new_col] = df.groupby(group_col)['milliseconds'].transform(
        lambda x: x.expanding().mean().shift(1)
    )
    return df

# Define function to calculate rolling average pit stop time per group
def calculate_rolling_average(df, group_col, new_col, window=5):
    df[new_col] = df.groupby(group_col)['milliseconds'].transform(
        lambda x: x.rolling(window=window, min_periods=1).mean().shift(1)
    )
    return df

# Calculate Historical Averages
df_pitstops = calculate_historical_average(df_pitstops, 'driverId', 'avg_pit_stop_driver')
df_pitstops = calculate_historical_average(df_pitstops, 'constructorId', 'avg_pit_stop_team')
df_pitstops = calculate_historical_average(df_pitstops, 'circuitId', 'avg_pit_stop_track')
df_pitstops = calculate_historical_average(df_pitstops, 'year', 'avg_pit_stop_season')

# Calculate Rolling Averages (Last 5 Races)
df_pitstops = calculate_rolling_average(df_pitstops, 'driverId', 'rolling_avg_pit_stop_driver', window=5)
df_pitstops = calculate_rolling_average(df_pitstops, 'constructorId', 'rolling_avg_pit_stop_team', window=5)
df_pitstops = calculate_rolling_average(df_pitstops, 'circuitId', 'rolling_avg_pit_stop_track', window=5)
df_pitstops = calculate_rolling_average(df_pitstops, 'year', 'rolling_avg_pit_stop_season', window=5)

# Calculate overall mean of 'milliseconds' to use for imputation
overall_mean = df_pitstops['milliseconds'].mean()

# Fill NaN values in the engineered features with the overall mean
df_pitstops.fillna({
    'avg_pit_stop_driver': overall_mean,
    'avg_pit_stop_team': overall_mean,
    'avg_pit_stop_track': overall_mean,
    'avg_pit_stop_season': overall_mean,
    'rolling_avg_pit_stop_driver': overall_mean,
    'rolling_avg_pit_stop_team': overall_mean,
    'rolling_avg_pit_stop_track': overall_mean,
    'rolling_avg_pit_stop_season': overall_mean
}, inplace=True)

# Define aggregation functions for pit stop metrics
aggregation_functions = {
    'milliseconds': ['min', 'max', 'mean', 'std', 'count'],
    'stop': 'count',
    'lap': ['min', 'max', 'mean', 'std'],
    'avg_pit_stop_driver': 'mean',
    'avg_pit_stop_team': 'mean',
    'avg_pit_stop_track': 'mean',
    'avg_pit_stop_season': 'mean',
    'rolling_avg_pit_stop_driver': 'mean',
    'rolling_avg_pit_stop_team': 'mean',
    'rolling_avg_pit_stop_track': 'mean',
    'rolling_avg_pit_stop_season': 'mean'
}

# Perform aggregation to create one row per driver per race
aggregated_pitstops = df_pitstops.groupby(['raceId', 'driverId']).agg(aggregation_functions).reset_index()

# Flatten MultiIndex columns
aggregated_pitstops.columns = [
    'raceId', 'driverId',
    'min_pit_stop_duration', 'max_pit_stop_duration',
    'avg_pit_stop_duration', 'std_pit_stop_duration',
    'milliseconds_count',  # Newly added
    'pit_stop_count',
    'min_pit_stop_lap', 'max_pit_stop_lap',
    'avg_pit_stop_lap', 'std_pit_stop_lap',
    'avg_pit_stop_driver',
    'avg_pit_stop_team',
    'avg_pit_stop_track',
    'avg_pit_stop_season',
    'rolling_avg_pit_stop_driver',
    'rolling_avg_pit_stop_team',
    'rolling_avg_pit_stop_track',
    'rolling_avg_pit_stop_season'
]

# Handle NaNs in standard deviation columns by filling them with 0
aggregated_pitstops['std_pit_stop_duration'] = aggregated_pitstops['std_pit_stop_duration'].fillna(0)
aggregated_pitstops['std_pit_stop_lap'] = aggregated_pitstops['std_pit_stop_lap'].fillna(0)

In [167]:
# Optional: Save the aggregated DataFrame to a CSV for future use
aggregated_pitstops.to_csv('../data/processed/aggregated_pitstops.csv', index=False)

In [168]:
aggregated_pitstops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5518 entries, 0 to 5517
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   raceId                       5518 non-null   int64
 1   driverId                     5518 non-null   int64
 2   min_pit_stop_duration        5518 non-null   int64
 3   max_pit_stop_duration        5518 non-null   int64
 4   avg_pit_stop_duration        5518 non-null   float64
 5   std_pit_stop_duration        5518 non-null   float64
 6   milliseconds_count           5518 non-null   int64
 7   pit_stop_count               5518 non-null   int64
 8   min_pit_stop_lap             5518 non-null   int64
 9   max_pit_stop_lap             5518 non-null   int64
 10  avg_pit_stop_lap             5518 non-null   float64
 11  std_pit_stop_lap             5518 non-null   float64
 12  avg_pit_stop_driver          5518 non-null   float64
 13  avg_pit_stop_team            5518 non-null   float64
 14  avg_pit_stop_track           5518 non-null   float64
 15  avg_pit_stop_season          5518 non-null   float64
 16  rolling_avg_pit_stop_driver  5518 non-null   float64
 17  rolling_avg_pit_stop_team    5518 non-null   float64
 18  rolling_avg_pit_stop_track   5518 non-null   float64
 19  rolling_avg_pit_stop_season  5518 non-null   float64
dtypes: float64(12), int64(8)
memory usage: 862.3 KB

In [169]:
df_results_races_circuits_qualifying_drivers_pitstops = pd.merge(df_results_races_circuits_qualifying_drivers, aggregated_pitstops, on=['raceId', 'driverId'], how='left')
df_results_races_circuits_qualifying_drivers_pitstops.shape

(26699, 50)

In [170]:
df_results_races_circuits_qualifying_drivers_pitstops.to_csv('../data/processed/export_v1.csv', index=False)