In [48]:
import pandas as pd
import fastf1

fastf1.Cache.enable_cache("../data/cache")

df = pd.read_csv('../data/processed/export_v1.csv')

races_df = pd.read_csv('../data/raw_data/races.csv')

df.head()

/var/folders/zx/63q9k_gd4nb5sbdwq12wb_km0000gn/T/ipykernel_841/1505389227.py:6: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/processed/export_v1.csv')

,resultId,raceId,driverId,constructorId,number,grid,year,round,circuitId,race_name,...,avg_pit_stop_lap,std_pit_stop_lap,avg_pit_stop_driver,avg_pit_stop_team,avg_pit_stop_track,avg_pit_stop_season,rolling_avg_pit_stop_driver,rolling_avg_pit_stop_team,rolling_avg_pit_stop_track,rolling_avg_pit_stop_season
0,1,18,1,1,22,1,2008,1,1,Australian Grand Prix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,18,2,2,3,5,2008,1,1,Australian Grand Prix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,18,3,3,7,7,2008,1,1,Australian Grand Prix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,18,4,4,5,11,2008,1,1,Australian Grand Prix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,18,5,1,23,3,2008,1,1,Australian Grand Prix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df = df[['raceId']]
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

df = pd.merge(df, races_df, on='raceId', how='left')

print(len(df))
df.head()

1122

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,19,2008,2,2,Malaysian Grand Prix,2008-03-23,07:00:00,http://en.wikipedia.org/wiki/2008_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,20,2008,3,3,Bahrain Grand Prix,2008-04-06,11:30:00,http://en.wikipedia.org/wiki/2008_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,21,2008,4,4,Spanish Grand Prix,2008-04-27,12:00:00,http://en.wikipedia.org/wiki/2008_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,22,2008,5,5,Turkish Grand Prix,2008-05-11,12:00:00,http://en.wikipedia.org/wiki/2008_Turkish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [50]:
races = []
for idx, row in df.iterrows():
    try:
        fp1 = fastf1.get_session(year=row['year'], gp=row['name'], identifier='fp1')
    except:
        fp1 = None
    try:
        fp2 = fastf1.get_session(year=row['year'], gp=row['name'], identifier='fp2')
    except:
        fp2 = None
    try:
        fp3 = fastf1.get_session(year=row['year'], gp=row['name'], identifier='fp3')
    except:
        fp3 = None

    races.append({
        'raceId': row['raceId'],
        'fp1_session': fp1,
        'fp2_session': fp2,
        'fp3_session': fp3
    })

events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
Request for URL https://ergast.com/api/f1/1988.json failed; using cached response
Traceback (most recent call last):
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connectionpool.py", line 789, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connectionpool.py", line 536, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connection.py", line 507, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 1428, in getresponse
    response.begin()
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 300, in _read_status
    raise RemoteDisconnected("Remote end closed connection without"
http.client.RemoteDisconnected: Remote end closed connection without response

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/requests/adapters.py", line 667, in send
    resp = conn.urlopen(
           ^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connectionpool.py", line 843, in urlopen
    retries = retries.increment(
              ^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/util/retry.py", line 474, in increment
    raise reraise(type(error), error, _stacktrace)
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/util/util.py", line 38, in reraise
    raise value.with_traceback(tb)
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connectionpool.py", line 789, in urlopen
    response = self._make_request(
               ^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connectionpool.py", line 536, in _make_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/urllib3/connection.py", line 507, in getresponse
    httplib_response = super().getresponse()
                       ^^^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 1428, in getresponse
    response.begin()
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/opt/homebrew/Cellar/python@3.12/3.12.6/Frameworks/Python.framework/Versions/3.12/lib/python3.12/http/client.py", line 300, in _read_status
    raise RemoteDisconnected("Remote end closed connection without"
urllib3.exceptions.ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/requests_cache/session.py", line 286, in _resend
    response = self._send_and_cache(request, actions, cached_response, **kwargs)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/requests_cache/session.py", line 254, in _send_and_cache
    response = super().send(request, **kwargs)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/fastf1/req.py", line 136, in send
    return super().send(request, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/requests/sessions.py", line 703, in send
    r = adapter.send(request, **kwargs)
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/yannikhahn/Library/Caches/pypoetry/virtualenvs/ie500-data-mining-group7-PnEMH2vj-py3.12/lib/python3.12/site-packages/requests/adapters.py", line 682, in send
    raise ConnectionError(err, request=request)
requests.exceptions.ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'German Grand Prix' to 'German Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'Bahrain Grand Prix' to 'Bahrain Grand Prix'
events      WARNING 	Correcting user input 'Bahrain Grand Prix' to 'Bahrain Grand Prix'
events      WARNING 	Correcting user input 'Bahrain Grand Prix' to 'Bahrain Grand Prix'
events      WARNING 	Correcting user input 'Sakhir Grand Prix' to 'Sakhir Grand Prix'
events      WARNING 	Correcting user input 'Sakhir Grand Prix' to 'Sakhir Grand Prix'
events      WARNING 	Correcting user input 'Sakhir Grand Prix' to 'Sakhir Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'Qatar Grand Prix' to 'Qatar Grand Prix'
events      WARNING 	Correcting user input 'Qatar Grand Prix' to 'Qatar Grand Prix'
events      WARNING 	Correcting user input 'Qatar Grand Prix' to 'Qatar Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'
events      WARNING 	Correcting user input 'United States Grand Prix' to 'United States Grand Prix'

In [128]:

race = races[1100]['fp1_session']
race.load(laps=True)

core           INFO 	Loading data for Abu Dhabi Grand Prix - Practice 1 [v3.4.3]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
core        WARNING 	No lap data for driver 1
core        WARNING 	No lap data for driver 11
core        WARNING 	No lap data for driver 14
core        WARNING 	No lap data for driver 16
core        WARNING 	No lap data for driver 23
core        WARNING 	No lap data for driver 24
core        WARNING 	No lap data for driver 27
core        WARNING 	No lap data for driver 31
core        WARNING 	No lap data for driver 4
core        WARNING 	No lap data for driver 44
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 1)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 11)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 14)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 16)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 23)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 24)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 27)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 31)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 4)
core        WARNING 	Failed to perform lap accuracy check - all laps marked as inaccurate (driver 44)
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 30 drivers: ['1', '10', '11', '14', '16', '18', '2', '20', '22', '23', '24', '27', '29', '3', '31', '34', '36', '37', '39', '4', '42', '44', '45', '50', '55', '61', '63', '77', '81', '98']

In [129]:
laps = race.laps
quick_laps = laps.pick_quicklaps()

quick_laps.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
3,0 days 00:24:41.690000,GAS,10,0 days 00:01:28.065000,4.0,2.0,NaT,NaT,0 days 00:00:18.006000,0 days 00:00:37.462000,...,False,Alpine,0 days 00:23:13.625000,2023-11-24 09:38:13.716,1,NaN,False,,False,True
7,0 days 00:32:53.975000,GAS,10,0 days 00:01:27.893000,8.0,3.0,NaT,NaT,0 days 00:00:18.001000,0 days 00:00:37.579000,...,False,Alpine,0 days 00:31:26.082000,2023-11-24 09:46:26.173,1,NaN,False,,False,True
9,0 days 00:36:34.180000,GAS,10,0 days 00:01:27.727000,10.0,3.0,NaT,NaT,0 days 00:00:17.926000,0 days 00:00:37.444000,...,False,Alpine,0 days 00:35:06.453000,2023-11-24 09:50:06.544,1,NaN,False,,False,True
12,0 days 00:51:09.283000,GAS,10,0 days 00:01:26.720000,13.0,4.0,NaT,NaT,0 days 00:00:17.669000,0 days 00:00:36.886000,...,True,Alpine,0 days 00:49:42.563000,2023-11-24 10:04:42.654,1,NaN,False,,False,True
15,0 days 00:57:11.376000,GAS,10,0 days 00:01:26.963000,16.0,5.0,NaT,NaT,0 days 00:00:17.702000,0 days 00:00:37.210000,...,False,Alpine,0 days 00:55:44.413000,2023-11-24 10:10:44.504,1,NaN,False,,False,True

In [130]:
quick_laps.loc[:, 'LapTime'] = quick_laps['LapTime'].dt.total_seconds().astype(float) * 1000
quick_laps.loc[:, 'Sector1Time'] = quick_laps['Sector1Time'].dt.total_seconds().astype(float) * 1000
quick_laps.loc[:, 'Sector2Time'] = quick_laps['Sector2Time'].dt.total_seconds().astype(float) * 1000




quick_laps.head()

/var/folders/zx/63q9k_gd4nb5sbdwq12wb_km0000gn/T/ipykernel_841/2251784745.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[88065. 87893. 87727. 86720. 86963. 91377. 91736. 92096. 92013. 91035.
 88609. 87253. 87536. 88007. 86631. 88908. 87959. 87798. 87006. 87004.
 86742. 91355. 91329. 91324. 91606. 91170. 91405. 89413. 89104. 88734.
 87476. 87462. 87543. 91928. 89413. 87888. 87374. 87261. 86827. 86725.
 90653. 90789. 91270. 91748. 91957. 88797. 87841. 90199. 87114. 87189.
 91702. 89049. 88280. 87570. 87268. 87533. 87393. 86504. 86433. 88073.
 87974. 87901. 87382. 87790. 86406. 86360. 87263. 91117. 89479. 88689.
 88637. 87964. 87208. 87566. 87331. 90123. 90246. 88862. 87244. 87373.
 88147. 87987. 87957. 90177. 89930. 90291. 86703. 87492. 90348. 89446.
 89496. 88622. 88527. 88026. 87098. 86815. 91965. 91520. 91966. 91829.
 90323. 88883. 88492. 88838. 87811. 87807. 87460. 91535. 91057. 89079.
 88870. 87569. 87812. 91893. 91462. 88441. 88105. 87503. 90846. 90426.
 90034. 90130. 90964. 91046. 86676. 86683. 90087. 88851. 90347. 89550.
 86865. 87617. 87577. 87673. 86963. 86313. 86081. 86072. 91303. 91674.
 91144. 91640. 91710. 91606. 91491. 91387. 87981. 87500. 87784. 87456.
 86855. 86453. 86782. 88480. 87438. 87074. 86665. 86770. 89619. 90713.
 89994. 89901. 90394. 89315. 89750. 89857. 88812. 87701. 87093. 88226.
 88692.]' has dtype incompatible with timedelta64[ns], please explicitly cast to a compatible dtype first.
  quick_laps.loc[:, 'LapTime'] = quick_laps['LapTime'].dt.total_seconds().astype(float) * 1000
/var/folders/zx/63q9k_gd4nb5sbdwq12wb_km0000gn/T/ipykernel_841/2251784745.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[18006. 18001. 17926. 17669. 17702. 18801. 18431. 18638. 18460. 18084.
 18035. 17854. 17884. 17963. 17672. 18160. 17823. 17748. 17823. 17704.
 17604. 18570. 18532. 18511. 18539. 18508. 18550. 18369. 18060. 18209.
 17909. 18018. 17938. 18827. 18361. 17907. 17912. 17948. 17798. 17858.
 18422. 18523. 18415. 18630. 18605. 18395. 18020. 18496. 17937. 17852.
 18541. 18086. 18049. 17999. 17989. 18001. 18051. 17857. 17888. 18044.
 17924. 17890. 17894. 17787. 17679. 17693. 17733. 19126. 18677. 18308.
 18253. 18198. 18036. 17918. 18040. 18965. 18910. 18545. 18143. 18240.
 18204. 18009. 18087. 18475. 18533. 18297. 17833. 17960. 18420. 18393.
 18083. 18008. 17953. 17892. 17803. 17746. 18745. 18695. 18603. 18566.
 18461. 18017. 17968. 17974. 17858. 17906. 17830. 18626. 19094. 18278.
 18287. 17966. 18031. 18804. 18511. 17985. 17883. 17883. 18654. 18544.
 18588. 18581. 18681. 18273. 17764. 17763. 19058. 18030. 18378. 18713.
 17758. 17887. 17930. 17992. 17806. 17663. 17702. 17676. 18580. 18798.
 18590. 18651. 18847. 18419. 18538. 18446. 18098. 17949. 17950. 18221.
 17851. 18019. 17874. 18021. 17902. 17746. 17684. 17799. 17933. 18049.
 18333. 17845. 18091. 17960. 18620. 18771. 18356. 18178. 17988. 18236.
 18057.]' has dtype incompatible with timedelta64[ns], please explicitly cast to a compatible dtype first.
  quick_laps.loc[:, 'Sector1Time'] = quick_laps['Sector1Time'].dt.total_seconds().astype(float) * 1000
/var/folders/zx/63q9k_gd4nb5sbdwq12wb_km0000gn/T/ipykernel_841/2251784745.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[37462. 37579. 37444. 36886. 37210. 38611. 39216. 39194. 39441. 37869.
 38292. 37207. 37408. 37337. 36829. 37608. 37507. 37539. 36978. 37041.
 36820. 38965. 38879. 38845. 39025. 38722. 38940. 37956. 37809. 37724.
 37251. 37287. 37395. 39055. 38027. 37408. 37242. 37094. 36951. 36940.
 38851. 38791. 38920. 39034. 39208. 37858. 37422. 38811. 37259. 37350.
 39387. 37943. 37657. 37332. 37149. 37165. 37230. 37005. 36819. 37520.
 37765. 37345. 37434. 37847. 36988. 36976. 37196. 37600. 37274. 37327.
 37292. 37074. 36929. 37013. 37046. 37861. 38351. 37522. 36966. 37056.
 37386. 37402. 37319. 38159. 38218. 38644. 36793. 37179. 38558. 38326.
 37795. 37665. 38053. 37509. 37175. 37274. 39137. 38953. 39224. 39201.
 38485. 38364. 38088. 38029. 37810. 37500. 37491. 39004. 38315. 37830.
 37781. 37434. 37732. 39288. 39140. 37496. 37200. 37390. 38785. 38590.
 38419. 38341. 38769. 38881. 36956. 36941. 38095. 37866. 38549. 38317.
 37303. 37243. 37319. 37625. 37219. 36992. 36990. 37012. 38946. 39057.
 38827. 39065. 39120. 39271. 39110. 39160. 37657. 37415. 37749. 37353.
 37193. 36929. 37077. 37974. 37598. 37594. 37303. 37342. 38884. 38701.
 38710. 38901. 39134. 38372. 37939. 38063. 37608. 37306. 37130. 37531.
 37414.]' has dtype incompatible with timedelta64[ns], please explicitly cast to a compatible dtype first.
  quick_laps.loc[:, 'Sector2Time'] = quick_laps['Sector2Time'].dt.total_seconds().astype(float) * 1000

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,FreshTyre,Team,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate
3,0 days 00:24:41.690000,GAS,10,88065.0,4.0,2.0,NaT,NaT,18006.0,37462.0,...,False,Alpine,0 days 00:23:13.625000,2023-11-24 09:38:13.716,1,NaN,False,,False,True
7,0 days 00:32:53.975000,GAS,10,87893.0,8.0,3.0,NaT,NaT,18001.0,37579.0,...,False,Alpine,0 days 00:31:26.082000,2023-11-24 09:46:26.173,1,NaN,False,,False,True
9,0 days 00:36:34.180000,GAS,10,87727.0,10.0,3.0,NaT,NaT,17926.0,37444.0,...,False,Alpine,0 days 00:35:06.453000,2023-11-24 09:50:06.544,1,NaN,False,,False,True
12,0 days 00:51:09.283000,GAS,10,86720.0,13.0,4.0,NaT,NaT,17669.0,36886.0,...,True,Alpine,0 days 00:49:42.563000,2023-11-24 10:04:42.654,1,NaN,False,,False,True
15,0 days 00:57:11.376000,GAS,10,86963.0,16.0,5.0,NaT,NaT,17702.0,37210.0,...,False,Alpine,0 days 00:55:44.413000,2023-11-24 10:10:44.504,1,NaN,False,,False,True

In [131]:
grp = quick_laps.groupby("Driver").mean(numeric_only=True)

grp

,LapTime,LapNumber,Stint,Sector1Time,Sector2Time,SpeedI1,SpeedI2,SpeedFL,SpeedST,IsPersonalBest,TyreLife,FreshTyre,Position,Deleted,FastF1Generated,IsAccurate
Driver,,,,,,,,,,,,,,,,
BEA,89677.428571,11.285714,2.714286,18424.428571,38217.142857,281.000000,308.571429,210.428571,312.857143,0.571429,6.714286,0.714286,NaN,0.0,0.0,1.0
BOT,87258.714286,10.857143,3.571429,17994.571429,37339.000000,283.428571,315.428571,214.285714,319.142857,0.714286,6.142857,0.285714,NaN,0.0,0.0,1.0
DEN,88498.875000,12.875000,3.000000,18319.500000,37194.375000,285.750000,321.750000,214.250000,325.125000,0.750000,7.250000,0.375000,NaN,0.0,0.0,1.0
DOO,88699.142857,11.000000,4.000000,18250.571429,37813.142857,286.285714,315.285714,214.285714,318.714286,0.428571,5.428571,0.428571,NaN,0.0,0.0,1.0
DRU,87393.625000,14.250000,3.625000,17830.500000,37383.875000,286.875000,310.750000,212.750000,312.750000,0.750000,8.250000,0.125000,NaN,0.0,0.0,1.0
GAS,89398.888889,15.111111,4.555556,18181.555556,38115.888889,286.625000,306.000000,211.222222,306.777778,0.444444,10.000000,0.111111,NaN,0.0,0.0,1.0
HAD,88769.600000,12.000000,3.000000,18560.600000,37551.200000,283.800000,322.200000,212.000000,326.400000,0.600000,6.800000,0.200000,NaN,0.0,0.0,1.0
MAG,88808.571429,10.000000,2.571429,18190.000000,37782.428571,283.857143,311.428571,211.857143,314.428571,0.714286,5.285714,0.714286,NaN,0.0,0.0,1.0
OSU,88893.625000,10.375000,2.000000,18080.000000,38096.375000,284.125000,312.125000,211.875000,313.000000,0.750000,5.875000,0.750000,NaN,0.0,0.0,1.0
OWA,88807.000000,9.333333,2.666667,18206.833333,38014.500000,280.833333,304.166667,213.166667,305.500000,0.500000,5.666667,0.333333,NaN,0.0,0.0,1.0
PIA,88760.272727,15.454545,5.818182,17942.090909,38228.454545,284.800000,303.818182,213.363636,304.363636,0.363636,10.363636,0.090909,NaN,0.0,0.0,1.0
POU,88590.142857,11.285714,2.857143,18315.142857,37570.142857,279.428571,314.428571,215.285714,318.142857,0.571429,6.142857,0.285714,NaN,0.0,0.0,1.0
RIC,87503.750000,11.625000,1.750000,17990.000000,37287.500000,285.500000,317.250000,214.250000,319.750000,0.750000,7.375000,0.750000,NaN,0.0,0.0,1.0
RUS,89619.769231,15.692308,4.846154,18285.230769,38338.000000,283.000000,302.230769,211.384615,303.230769,0.384615,10.615385,0.153846,NaN,0.0,0.0,1.0
SAI,89168.545455,11.545455,2.727273,18236.272727,37978.909091,283.100000,304.454545,211.818182,306.454545,0.363636,8.636364,0.363636,NaN,0.0,0.0,1.0
SAR,89467.166667,15.333333,3.750000,18172.666667,38072.416667,287.454545,309.583333,212.500000,311.500000,0.500000,8.833333,0.250000,NaN,0.0,0.0,1.0
SHW,88847.800000,14.500000,2.400000,18221.100000,37798.400000,283.400000,305.400000,213.500000,307.500000,0.400000,8.500000,0.400000,NaN,0.0,0.0,1.0
STR,88178.500000,8.833333,2.333333,17915.333333,37490.333333,284.166667,306.166667,206.666667,309.166667,0.666667,6.666667,0.333333,NaN,0.0,0.0,1.0
TSU,89264.090909,14.272727,3.363636,18216.272727,38042.363636,282.900000,308.636364,212.000000,309.727273,0.545455,7.272727,0.363636,NaN,0.0,0.0,1.0
VES,89586.400000,13.600000,2.100000,18209.400000,38198.600000,284.100000,306.400000,211.300000,308.200000,0.600000,9.200000,0.600000,NaN,0.0,0.0,1.0